* {
	box-sizing: border-box;
}

/* ------------------
 Main Layout Styles 
--------------------- */
.container {
	font-family: 'Roboto', sans-serif;
	color: #666;
}
main-header,
.main-nav {
	display: flex;
	flex-direction: column;
}
.main-header {
	padding: 0.725em 0.725em 2em;
	background-color: #f5f5f5;
	text-align: center;
}
.main-header p {
	line-height: 1.5em;
}
.main-logo {
	align-self: center;
	text-decoration: none;
	font-weight: 700;
	font-size: 2em;
	color: #444;
}
.main-nav {	
	text-align: center;
	padding: 0.5em 0;		
}
.main-nav li {
	margin-bottom: 5px;	
}
.main-nav a {
	display: block;
	padding: 0.5em;
	font-size: 1.1em;
	font-weight: 700;
	background-color: #fff;
	color: #444;
	text-decoration: none;
	text-transform: uppercase;
}
.main-nav a:hover {
	color: red;
	background-color: #aaa;
}
.main-content {
	padding-top: 2em;
	padding-left: 0.5em;
	padding-bottom: 3em;
	padding-right: 0.5em;
	text-align: center;	
}
.main-content p {
	padding-left: 1.5em;
	padding-right: 1.5em;
}
.footer {
	background-color: #f5f5f5;
	text-align: center;
	padding-left: 0.5em;
	padding-right: 0.5em;
}
.contact {
	padding: 3em 1em;
	border-bottom: 1px #bbb solid;
}
.footer-nav {
	float: right;
}
.footer-menu {
	float: left;
}
.footer-nav, .footer-menu {
	display: block;
	margin: 0;
	padding: 2em 1em 2em 1em;
	font-weight: 700;
}
.contact-p {
	padding-top:1em;
	padding-bottom: 1em;
}
.footer-li {
	display: none;
}
.footer-nav a {
	padding: 1em;
}
.footer-menu, .footer-nav a {
	color: #666;
	text-decoration: none;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}


/* ----------------

------------------- */
.container h1, h2 {
	text-align: center;
}
a:hover {
	color: green;
	background-color: #aaa;
}

/* -----------------
Image Styles
-------------------- */

.main-header img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1em;
	padding-bottom: 1em;	
	max-width: 80%;	
}
.main-content img {
	max-width: 100%;
	margin-top: 1em;	
}

/* -----------------
Media Sytles
-------------------- */

/* -----------------
Two Column Layout
-------------------- */

@media (min-width: 769px) {
[class^="column-"] {	
}
.main-header img {
	float: right;
	margin-left: 1em;
	margin-right: 1em;
}
.main-header p {
	padding-top: 1em;
	padding-left: 1em;
}
.main-nav {
	flex-direction: row;
	justify-content: center;
}
.main-nav a {
	background-color: #f5f5f5;
}
.container {	
	margin: auto;
}
.column {
	width: calc(100% / 12 * 6);
	float: left;
	padding: 0.5em;	
}
.column:nth-child(2n) {
	clear: left;
}
.footer {
	padding-bottom: 2em;
}
.contact {
	padding-left: 15%;
	padding-right: 15%;
}
.footer-nav {
	display: flex;
	flex-direction: row;
}
.footer-back {
	display: none;
}
.footer-li {
	display: block;
}


} /* End Media Quiery */

/* -----------------
Three Column Layout
-------------------- */

@media (min-width: 1024px) {

.container {
	max-width: 1024px;
}
.column {
	width: calc(100% / 12 * 4);
	float: left;	
}
.column:nth-child(2n) {
	clear: right;
}	
} /* End Media Quiery */