* {
	box-sizing: border-box;
}
  
/* ------------------
 Main Layout Styles 
--------------------- */
.container {
	font-family: 'Roboto', sans-serif;
	color: #666;
}
.main-header,
.main-nav {
	display: flex;
	flex-direction: column;
}
.main-header, .header-profile {
	padding: 0.725em 0.725em 2em;
	background-color: #f5f5f5;
	text-align: center;
}
.header-profile p {
	line-height: 1.5em;
	font-size: large;
	padding: 1em;
}
.profile-image-container {
	border: solid 1px #ccc;
	width: 75%;
	background-color: #ddd;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 5%;
	padding-bottom: 5%;	
}
.main-logo {
	align-self: center;
	text-decoration: none;
	font-weight: 700;
	font-size: 2em;
	color: #444;
	padding: 0.5em;
}
.main-nav {	
	text-align: center;
	padding: 0.5em 0;		
}
.main-nav li {
	margin-bottom: 5px;	
}
.main-nav a {
	display: block;
	padding: 0.5em;
	font-size: 1.1em;
	font-weight: 700;
	background-color: #fff;
	color: #444;
	text-decoration: none;
	text-transform: uppercase;
}
.main-content {
	padding-top: 2em;
	padding-left: 1em;
	padding-bottom: 3em;
	padding-right: 1em;
	text-align: center;	
}
.main-content p {
	padding-left: 1.5em;
	padding-right: 1.5em;
}
.footer {
	background-color: #f5f5f5;
	text-align: center;
	padding-left: 0.5em;
	padding-right: 0.5em;
}
.contact {
	padding: 3em 1em;
	border-bottom:  solid 1px #bbb;
}
.footer-nav {
	float: right;
}
.footer-menu {
	float: left;
}
.footer-nav, .footer-menu {
	display: block;
	margin: 0;
	padding: 2em 1em 2em 1em;
	font-weight: 700;
}
.contact-p {
	padding-top:1em;
	padding-bottom: 1em;
}
.footer-li {
	display: none;
}
.footer-nav a {
	padding: 1em;
}
.footer-menu, .footer-nav a {
	color: #666;
	text-decoration: none;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}


/* ----------------
Detail Styles
------------------- */
.container h1, h2 {
	text-align: center;
}
a:hover {
	color: #fff;
	background-color: #aaa;
}

/* -----------------
Image Styles
-------------------- */

.header-profile img {	
	border: solid 1px #bbb;
	width: 70%;
	border-radius: 50%;
		
}
.main-content img {
	max-width: 100%;
	margin-top: 1em;	
}

/* 
*************
Media Queries
*************

Two Column Layout
--------------------
*/

@media (min-width: 768px) {

.container {	
	margin: auto;
}
.main-header {
	padding-top: 2em;
}
.header-profile {
	padding-left: 1em;
	padding-right: 1em;	
}
.header-profile p {
	float: left;
	width: calc(100% / 12 * 6.75);
	text-align: justify;
	margin: 0;
	padding-top: 0;
}
.profile-image-container {
	float: right;
	width: calc(100% / 12 * 5);
	padding: 1em 4em;
	box-shadow: 5px 5px 10px;
}
.main-logo {
	text-shadow: 3px 3px 10px;
}
.main-nav {
	flex-direction: row;
	justify-content: center;
}
.main-nav li {
	margin-right: 0.5em;
	box-shadow: 3px 3px 5px;
}
.main-nav a {
	background-color: transparent;
}
.main-nav a:hover {
	background-color: #aaa;
}
.container-two {
	border-top: solid 1px #bbb;
}
.column {
	width: calc(100% / 12 * 6);
	float: left;
	padding: 0.5em;
}
.column:nth-of-type(2n+1) {
	clear: left;
}
.footer {
	padding-bottom: 2em;
}
.contact {
	padding-left: 15%;
	padding-right: 15%;
}
.footer-nav {
	display: flex;
	flex-direction: row;
}
.footer-back {
	display: none;
}
.footer-li {
	display: block;
}
} /* End Two Column Layout */


/*
Three Column Layout
--------------------
*/

@media (min-width: 1024px) {

.container {
	max-width: 1200px;
	background-color: #f5f5f5;
}
.main-header {
	display: flex;
	flex-direction: row;
}
.main-header, .header-profile {
	margin-left: 2em;
	margin-right: 2em;
}
.main-logo {
	margin-right: auto;
}
.main-nav {
	align-self: center;
}
.main-content {
	margin-left: 2em;
	margin-right: 2em;
	margin-bottom: 20px;
	background-color: #fff;
	box-shadow: 5px 5px 10px;
}
.container-two {
	border-top: none;
}
.column:nth-of-type(2n+1) {
	clear: none;
}
.column {
	width: calc(100% / 12 * 4);
	float: left;	
}
.column:nth-of-type(3n+1) {
	clear: left;
}
.footer {
	padding-bottom: 0;
}

} /* End Three Column Layout */